AUTH_TOKEN= # lajiapi auth token
HOSTNAME=oracle.luomus.fi
PASSWORD= # oracle password
SERVICE_NAME=oracle.luomus.fi
TARGET= # system id
LINTUASEMA_USERNAME= # oracle username
DB_TYPE=oracle
LAJI_API_URL=https://apitest.laji.fi/
LAJI_AUTH_URL=https://fmnh-ws-test-24.it.helsinki.fi/laji-auth/
SECRET_KEY=secret
