.navbar {
    display: table;
    width: 100%;
    text-align: left;
    background-color: lightgray;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li a {
    float: left;
    position: relative;
    margin: 20px;
}

.navbar ul li a#login-link {
    float: right;
    text-align: right;
}

.navbar ul li a#logout-link {
    float: right;
    text-align: right;
}

