name: CI/CD pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    types: [opened, synchronize]

jobs:
     
  tests:
    runs-on: ubuntu-latest      
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install backend dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      working-directory: ./lintuasema-backend
    - name: Test backend with pytest
      run: |
        python3 -m pytest
      working-directory: ./lintuasema-backend
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install frontend packages
      run: npm install
      working-directory: ./frontend
    - name: Run frontend tests
      run: npm test
      working-directory: ./frontend
    - name: Build & copy frontend to backend
      run: npm run build-copy
      working-directory: ./frontend
    - name: Run backend
      run: flask run --port=3000 &
      working-directory: ./lintuasema-backend
    - name: Run Cypress tests
      run: |
        sleep 10
        npm run cypress:cmd	
      working-directory: ./frontend
      
    - name: Report successful pull request to Discord
      uses: sarisia/actions-status-discord@v1.8.3
      if: ${{ github.event_name != 'push' && success() }}
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        title: "Pull request mergeable"
        description: "A new pull request has passed tests - you may merge it to the master now"
        color: 0x08c96b
        username: GitHub Actions
    - name: Report pull request error to Discord
      uses: sarisia/actions-status-discord@v1.8.3
      if: ${{ github.event_name == 'push' && failure() }}
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        title: "Error in pull request"
        color: 0xff91a4
        description: "Tests for a new pull request have failed - check the logs and do your magic"
        username: GitHub Actions

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build . --file Dockerfile -t test
        
  deploy:
    needs: [tests, docker-build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v1
        env:
          webhook_url: ${{ secrets.RAHTI_WEBHOOK_URL }}
          webhook_secret: ${{ secrets.RAHTI_WEBHOOK_SECRET }}
        if: ${{ github.event_name == 'push' && contains(join(github.event.commits.*.message, ', '), '#skip') == false }}
      - name: Report deploy success to Discord
        uses: sarisia/actions-status-discord@v1.8.3
        if: ${{ github.event_name == 'push' && contains(join(github.event.commits.*.message, ', '), '#skip') == false && success() }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          nodetail: true
          title: "New version deployed to Rahti!"
          color: 0x08c96b
          username: GitHub Actions
      - name: Report master branch error to Discord
        uses: sarisia/actions-status-discord@v1.8.3
        if: ${{ github.event_name == 'push' && failure() }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          title: "Error in master branch!"
          color: 0xff91a4
          description: "The new commit to master branch did not pass CI/CD pipeline - check the commit ASAP!"
          username: GitHub Actions
